* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Raleway, sans-serif;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: grey;
  text-decoration: none;
}

/* Utils */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* parte del componente Header */

header {
  display: flex;
}

figure {
  text-align: left;
  margin-right: 30%;
}

ul {
  display: flex;
  justify-content: right;
}

ul li {
  list-style-type: none;
  font-weight: bold;
  font-size: x-small;
  margin-top: 40px;
}

ul li a {
  padding: 15px;
}

ul li a.active,
ul li a:hover {
  text-decoration: underline;
  color: rgb(14, 88, 237);
}


/* parte di Main */
main {
  text-align: left;
  padding: 4rem 1rem;
  margin: 4rem 0;
}


/* Footer */

.footer-nav {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer-col {
  flex-basis: calc(100% / 3);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 1rem;
}

.footer-col h4 {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-col ul {
  list-style-type: none;
  display: block;
  margin: 0;
}

.footer-col ul li a {
  display: inline-block;
  margin-bottom: 0.25rem;
  text-decoration: none;
  padding: 0;
  font-size: 0.875em;
  font-weight: normal;
}